@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

:root{
    --color-white: #fff;
    --color-gren-menta: #22919d;
    --color-black: #000;
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
    background-image: url('./img/particles-7104407_1280.jpg');
}

.nav-container{
    height: 130px;
    width: 100%;
    padding: 20px;
}
.nav-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title-nav{
    color: var(--color-white);
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    margin-left: 50px;
}
.menu-items{
    display: flex;
    gap: 30px;
    margin-right: 50px;
}
.nav-main li{
    list-style-type: none;
}
.nav-main a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
}

a:hover{
    color: var(--color-gren-menta);
}
.profile-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
}
.profile-avatar h2{
    color: var(--color-white);
    font-size: 45px;
}
.conteudo-principal{
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--color-gren-menta);
    border-radius: 5px;
}
.img-card{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-card img{
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 20px;
}
.card-descripton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: var(--color-white);
    margin-left: 40px;
    text-shadow: 1px 1px 1px var(--color-black);
}
.card-descripton h3{
    font-size: 26px;
    padding: 0;
    margin-top: 10px;
}
.footer{
    height: 120px;
    background-color: 	var(--color-gren-menta);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
footer img{
    align-items: center;
    width: 40px;
    margin-right: 25px;
}